
@import 'config';
@import 'menu';
@import 'mobile';

*{
    box-sizing: border-box;
}



body{
    @include background;
    background: $primary-color;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}


     
//heading

h1,h2,h3{
    margin : 0;
    font-weight: 400;

    &.lg-heading{
        font-size: 6rem;
        color: white;
    }
    &.sm-heading{
        margin-bottom: 2rem ;
        color: white;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color,
        2),0.5);

    }
}
a{
    color :white;
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
    
}

.text-secondary{
color: $secondary-color;

}

main{
    padding: 4rem;
    height: 100%;

    .icons{
        margin-top: 1rem;


        a{
            padding: 0.5rem;
            font-size: 2rem;
            width: 24px;

            &:hover{
                color: $secondary-color;
                
                @include easeOut();
            }
        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
   
}
#about{
    padding: 3em;
}

.about-info{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100vh;
    
}

.bio-img{
    grid-area : bioimage;
    margin : auto;
    width: 300px;
    height:300px ;
    border-radius: 70%;
    top: 0;
    bottom: 0;;
    
    border: $secondary-color 2px solid;
}

.bio{
    grid-area: bio;
    font-size: 30px;
    color: white;
}
.job-1{
    grid-area: job1;
    font-size: 25px;
    color: white;
}
.job-2{
    grid-area: job2;
    font-size: 25px;
    color: white;
}
.job-3{
    grid-area: job3;
    font-size: 25px;
    color: white;
}

.job{
    background: lighten($primary-color,5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
}

 /// work /project

 .projects{
     display: grid;
     grid-gap: 0.7rem;
     grid-template-columns: repeat(3, 1fr);

     img{
         width: 100%;
         border: 3px #fff solid;

         &:hover{
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
         }
     }
 }

  // conatct/ page
  .boxes{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
       align-items: center;
       margin-top: 1rem;

       div{
           font-size: 2rem;
           border: 3px #fff solid;
           padding: 1.5rem 2.5rem;
           margin-bottom: 3rem;
           @include easeOut;

           &:hover{
               padding: 0.5rem 1.5rem;
               background: $secondary-color;
               color: set-text-color($secondary-color);
               span{
                   color:  set-text-color($secondary-color);
               }
           }
       }
  }

 // Button style 
  .btn{
      display: block;
      padding: 0.5rem;
      border: 0;
      margin-bottom: 0.3rem;
      &:hover{
          background: $secondary-color;
          color: set-text-color
          ($secondary-color);
      }
  }

  .btn-dark{
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
  }
  .btn-light{
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
  }


#main-footer{
    text-align: center;
    padding: 1rem;
    background: darken($primary-color,10);
    color: set-text-color($primary-color);
    height: 60px;
}